<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Node CLass</h1>
    <h1><%= Math.random() %></h1>
    <p><%= gender %></p>
  <% if (gender=="male") { %>
    <p>Na man you be</p>
  <% } else{ %>
    <p>Na woman you be</p>
    <%} %>
  
    <a href="/signup">Sign in here</a>
     
   
</body>
</html>